# Set up to module to be read for external host instances


The `pip show vacances-etl` command in cell 2 checks if the required package is installed in the current Python environment. This verification ensures all dependencies are available before proceeding with the ETL workflow.

The package contains custom ETL functions that handle data extraction from CSV files, transformation according to business rules, and loading into our PostgreSQL database.

In [70]:
# Check if the vacances-etl package is installed
!{sys.executable} -m pip show vacances-etl

Name: vacances-etl
Version: 0.1.0
Summary: ETL pipeline for French and neighbouring school holidays
Home-page:
Author: Your Name
Author-email: you@example.com
License:
Location: /home/cliuser/.local/lib/python3.10/site-packages
Requires: pandas, psycopg2-binary, sqlalchemy
Required-by:

## Environment Setup and Package Verification

1. **Environment Setup**: Checks for the required `vacances-etl` package installation, configures Python paths and database connection parameters.

The Python path configuration ensures that custom packages are properly located and imported. Database configuration uses environment variables to maintain security while providing connection information to the ETL processes.

In [71]:
# ➊ Ensure user-site is on sys.path and verify package installation
# sys.path is a list of directories that Python searches for modules
# This script checks if the user site-packages directory is in sys.path
# and adds it if not, then checks for the installation of the vacances-etl package.
import site, sys

# Get user site-packages directory
u_site = site.getusersitepackages()
print(f"User site-packages directory: {u_site}")

# Add to path if not already there
if u_site not in sys.path:
    sys.path.insert(0, u_site)
    print(f"Added {u_site} to sys.path")

# Check if vacances-etl package is installed
try:
    import vacances_etl
    print(f"✅ vacances_etl package is installed at: {vacances_etl.__file__}")
except ImportError:
    print("❌ vacances_etl package is not installed!")
    
# Display Python version and environment info
print(f"Python version: {sys.version}")
print(f"sys.path contains {len(sys.path)} entries")

User site-packages directory: /home/cliuser/.local/lib/python3.10/site-packages
✅ vacances_etl package is installed at: /home/cliuser/downloads/programing/exo-partners/ETL_vacantions_France_and_neighboors/srcs/vacances_etl/__init__.py
Python version: 3.10.12 (main, Feb  4 2025, 14:57:36) [GCC 11.4.0]
sys.path contains 17 entries

In [72]:
import pathlib
# 2.  Is that path on sys.path?
wheel_path = pathlib.Path('/home/cliuser/.local/lib/python3.10/site-packages')
print(wheel_path in map(pathlib.Path, sys.path))  # must be True

True

In [73]:
import os
import sys
# make sure your module sees these
os.environ['DB_HOST']     = 'postgres'     # e.g. 'db', '192.168.99.100', or your cloud endpoint
os.environ['DB_PORT']     = '5432'                    # change if your Postgres listens elsewhere
os.environ['POSTGRES_USER']     = 'jvalenci'
os.environ['POSTGRES_PASSWORD'] = 'mysecretpassword'
os.environ['POSTGRES_DB']       = 'piscineds'

sys.path.append(os.getcwd())
print(f"sys.path contains {len(sys.path)} entries")
print(f"sys.path{sys.path}")
print(os.getcwd())

sys.path contains 18 entries
sys.path['/usr/lib/python310.zip', '/usr/lib/python3.10', '/usr/lib/python3.10/lib-dynload', '', '/home/cliuser/.local/lib/python3.10/site-packages', '/home/cliuser/downloads/programing/42/projects/ft_matrix', '/home/cliuser/downloads/programing/exo-partners/ETL_vacantions_France_and_neighboors/srcs', '/usr/local/lib/python3.10/dist-packages', '/usr/lib/python3/dist-packages', '/home/cliuser/downloads/programing/exo-partners/ETL_vacantions_France_and_neighboors/srcs', '/home/cliuser/downloads/programing/exo-partners/ETL_vacantions_France_and_neighboors/srcs', '/home/cliuser/downloads/programing/exo-partners/ETL_vacantions_France_and_neighboors/srcs', '/home/cliuser/downloads/programing/exo-partners/ETL_vacantions_France_and_neighboors/srcs', '/home/cliuser/downloads/programing/exo-partners/ETL_vacantions_France_and_neighboors/srcs', '/home/cliuser/downloads/programing/exo-partners/ETL_vacantions_France_and_neighboors', '/home/cliuser/downloads/programing/exo-partners/ETL_vacantions_France_and_neighboors', '/home/cliuser/downloads/programing/exo-partners/ETL_vacantions_France_and_neighboors', '/home/cliuser/downloads/programing/exo-partners/ETL_vacantions_France_and_neighboors']
/home/cliuser/downloads/programing/exo-partners/ETL_vacantions_France_and_neighboors

#### Checks in which folder currently we are

In [74]:
# os module that is used to get the current working directory
import os
print("cwd =", os.getcwd())

cwd = /home/cliuser/downloads/programing/exo-partners/ETL_vacantions_France_and_neighboors

In [75]:
# os.chdir () # change the current working directory to the specified path
os.chdir("/home/cliuser/downloads/programing/exo-partners/ETL_vacantions_France_and_neighboors")

In [76]:
from pathlib import Path
csv = Path("fr-en-calendrier-scolaire (1).csv").resolve()
print(csv, "exists:", csv.exists())

/home/cliuser/downloads/programing/exo-partners/ETL_vacantions_France_and_neighboors/fr-en-calendrier-scolaire (1).csv exists: True

In [77]:

# now reload so that get_engine picks up the new env vars
from vacances_etl import *

### 2. Verify DB connection

In [78]:
from sqlalchemy import text

# sanity‐check
engine = get_engine()
with engine.connect() as conn:
    print("✅ Connected:", conn.execute(text("SELECT 1")).scalar())

✅ Connected: 1

### 3. Run the ETL pipeline

In [79]:
run_etl([
    "fr-en-calendrier-scolaire (1).csv",
    "fr-en-calendrier-scolaire-remaining.csv"
])

✅ ETL complete: 2396 rows in t_vacances.

### 4. Validate output table

In [80]:

import pandas as pd

# Read the table into a DataFrame
df = pd.read_sql_table('t_vacances', engine)

In [81]:
df.columns
# Display the first few rows of the DataFrame

Index(['date', 'fr_zone_a', 'fr_zone_b', 'fr_zone_c', 'fr_corse', 'all', 'bel',
       'esp', 'ita', 'lux', 'sui', 'annee_scolaire'],
      dtype='object')

In [82]:
df.head()  # Display the first few rows of the DataFrame

,date,fr_zone_a,fr_zone_b,fr_zone_c,fr_corse,all,bel,esp,ita,lux,sui,annee_scolaire
0,2009-10-25,0,0,0,1,0,0,0,0,0,0,2009-2010
1,2009-10-26,0,0,0,1,0,0,0,0,0,0,2009-2010
2,2009-10-27,0,0,0,1,0,0,0,0,0,0,2009-2010
3,2009-10-28,0,0,0,1,0,0,0,0,0,0,2009-2010
4,2009-10-29,0,0,0,1,0,0,0,0,0,0,2009-2010

### Check Summmer Vacances

In [87]:

# Filter the DataFrame for dates between July 2, 2025 and September 3, 2025
summer_vacations_2025 = df[(df['date'] >= '2025-07-02') & (df['date'] <= '2025-09-03')]

# Set display options to show all rows and columns
with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'display.width', None):
    # Display the resulting filtered DataFrame
    display(summer_vacations_2025)

# Print summary statistics
print(f"\nTotal summer vacation days: {len(summer_vacations_2025)}")
print(f"Start date: {summer_vacations_2025['date'].min()}")
print(f"End date: {summer_vacations_2025['date'].max()}")

# Show which zones have vacations during this period (count of days marked as 1)
zone_counts = summer_vacations_2025.iloc[:, 1:-1].sum()
print("\nNumber of vacation days by zone:")
print(zone_counts)

,date,fr_zone_a,fr_zone_b,fr_zone_c,fr_corse,all,bel,esp,ita,lux,sui,annee_scolaire
2111,2025-07-04,1,1,1,0,0,0,0,0,0,0,2024-2025
2112,2025-07-05,1,1,1,0,0,0,0,0,0,0,2024-2025
2113,2025-07-06,1,1,1,0,0,0,0,0,0,0,2024-2025
2114,2025-07-07,1,1,1,0,0,0,0,0,0,0,2024-2025
2115,2025-07-08,1,1,1,0,0,0,0,0,0,0,2024-2025
2116,2025-07-09,1,1,1,0,0,0,0,0,0,0,2024-2025
2117,2025-07-10,1,1,1,0,0,0,0,0,0,0,2024-2025
2118,2025-07-11,1,1,1,0,0,0,0,0,0,0,2024-2025
2119,2025-07-12,1,1,1,0,0,0,0,0,0,0,2024-2025
2120,2025-07-13,1,1,1,0,0,0,0,0,0,0,2024-2025
2121,2025-07-14,1,1,1,0,0,0,0,0,0,0,2024-2025
2122,2025-07-15,1,1,1,0,0,0,0,0,0,0,2024-2025
2123,2025-07-16,1,1,1,0,0,0,0,0,0,0,2024-2025
2124,2025-07-17,1,1,1,0,0,0,0,0,0,0,2024-2025
2125,2025-07-18,1,1,1,0,0,0,0,0,0,0,2024-2025
2126,2025-07-19,1,1,1,0,0,0,0,0,0,0,2024-2025
2127,2025-07-20,1,1,1,0,0,0,0,0,0,0,2024-2025
2128,2025-07-21,1,1,1,0,0,0,0,0,0,0,2024-2025
2129,2025-07-22,1,1,1,0,0,0,0,0,0,0,2024-2025
2130,2025-07-23,1,1,1,0,0,0,0,0,0,0,2024-2025
2131,2025-07-24,1,1,1,0,0,0,0,0,0,0,2024-2025
2132,2025-07-25,1,1,1,0,0,0,0,0,0,0,2024-2025
2133,2025-07-26,1,1,1,0,0,0,0,0,0,0,2024-2025
2134,2025-07-27,1,1,1,0,0,0,0,0,0,0,2024-2025
2135,2025-07-28,1,1,1,0,0,0,0,0,0,0,2024-2025
2136,2025-07-29,1,1,1,0,0,0,0,0,0,0,2024-2025
2137,2025-07-30,1,1,1,0,0,0,0,0,0,0,2024-2025
2138,2025-07-31,1,1,1,0,1,0,0,0,0,0,2024-2025
2139,2025-08-01,1,1,1,0,1,0,0,0,0,0,2024-2025
2140,2025-08-02,1,1,1,0,1,0,0,0,0,0,2024-2025
2141,2025-08-03,1,1,1,0,1,0,0,0,0,0,2024-2025
2142,2025-08-04,1,1,1,0,1,0,0,0,0,0,2024-2025
2143,2025-08-05,1,1,1,0,1,0,0,0,0,0,2024-2025
2144,2025-08-06,1,1,1,0,1,0,0,0,0,0,2024-2025
2145,2025-08-07,1,1,1,0,1,0,0,0,0,0,2024-2025
2146,2025-08-08,1,1,1,0,1,0,0,0,0,0,2024-2025
2147,2025-08-09,1,1,1,0,1,0,0,0,0,0,2024-2025
2148,2025-08-10,1,1,1,0,1,0,0,0,0,0,2024-2025
2149,2025-08-11,1,1,1,0,1,0,0,0,0,0,2024-2025
2150,2025-08-12,1,1,1,0,1,0,0,0,0,0,2024-2025
2151,2025-08-13,1,1,1,0,1,0,0,0,0,0,2024-2025
2152,2025-08-14,1,1,1,0,1,0,0,0,0,0,2024-2025
2153,2025-08-15,1,1,1,0,1,0,0,0,0,0,2024-2025
2154,2025-08-16,1,1,1,0,1,0,0,0,0,0,2024-2025
2155,2025-08-17,1,1,1,0,1,0,0,0,0,0,2024-2025
2156,2025-08-18,1,1,1,0,1,0,0,0,0,0,2024-2025
2157,2025-08-19,1,1,1,0,1,0,0,0,0,0,2024-2025
2158,2025-08-20,1,1,1,0,1,0,0,0,0,0,2024-2025
2159,2025-08-21,1,1,1,0,1,0,0,0,0,0,2024-2025
2160,2025-08-22,1,1,1,0,1,0,0,0,0,0,2024-2025
2161,2025-08-23,1,1,1,0,1,0,0,0,0,0,2024-2025
2162,2025-08-24,1,1,1,0,1,0,0,0,0,0,2024-2025
2163,2025-08-25,1,1,1,0,1,0,0,0,0,0,2024-2025
2164,2025-08-26,1,1,1,0,1,0,0,0,0,0,2024-2025
2165,2025-08-27,1,1,1,0,1,0,0,0,0,0,2024-2025
2166,2025-08-28,1,1,1,0,1,0,0,0,0,0,2024-2025
2167,2025-08-29,1,1,1,0,1,0,0,0,0,0,2024-2025
2168,2025-08-30,1,1,1,0,1,0,0,0,0,0,2024-2025
2169,2025-08-31,0,0,0,0,1,0,0,0,0,0,2025-2026
2170,2025-09-01,0,0,0,0,1,0,0,0,0,0,2025-2026
2171,2025-09-02,0,0,0,0,1,0,0,0,0,0,2025-2026
2172,2025-09-03,0,0,0,0,1,0,0,0,0,0,2025-2026

Total summer vacation days: 62
Start date: 2025-07-04 00:00:00
End date: 2025-09-03 00:00:00

Number of vacation days by zone:
fr_zone_a    58
fr_zone_b    58
fr_zone_c    58
fr_corse      0
all          35
bel           0
esp           0
ita           0
lux           0
sui           0
dtype: int64

In [83]:

# 2. select the zone‑B winter break dates
winter = df[(df["date"] >= "2025-02-08") & (df["date"] < "2025-02-24")]

# 3. check that all of those are flagged 1
# assert (winter["fr_zone_b"] == 1).all(), "Some winter days missing = 0?"
winter
# 4. pick a date just before & after to confirm 0 outside the break
# pre  = df[df["date"] == pd.Timestamp("2025-02-07")]
# post = df[df["date"] == pd.Timestamp("2025-02-24")]

# assert (pre["fr_zone_b"] == 0).all(),  "Day before break should be 0"
# assert (post["fr_zone_b"] == 0).all(), "Day after break should be 0"

# print("✅ Zone B winter break correctly mapped in t_vacances.")

,date,fr_zone_a,fr_zone_b,fr_zone_c,fr_corse,all,bel,esp,ita,lux,sui,annee_scolaire
2048,2025-02-08,0,1,0,0,0,0,0,0,0,0,2024-2025
2049,2025-02-09,0,1,0,0,0,0,0,0,0,0,2024-2025
2050,2025-02-10,0,1,0,0,0,0,0,0,0,0,2024-2025
2051,2025-02-11,0,1,0,0,0,0,0,0,0,0,2024-2025
2052,2025-02-12,0,1,0,0,0,0,0,0,0,0,2024-2025
2053,2025-02-13,0,1,0,0,0,0,0,0,0,0,2024-2025
2054,2025-02-14,0,1,1,1,0,0,0,0,0,0,2024-2025
2055,2025-02-15,0,1,1,1,0,0,0,0,0,0,2024-2025
2056,2025-02-16,0,1,1,1,0,0,0,0,0,0,2024-2025
2057,2025-02-17,0,1,1,1,0,0,0,0,0,0,2024-2025
2058,2025-02-18,0,1,1,1,0,0,0,0,0,0,2024-2025
2059,2025-02-19,0,1,1,1,0,0,0,0,0,0,2024-2025
2060,2025-02-20,0,1,1,1,0,0,0,0,0,0,2024-2025
2061,2025-02-21,1,1,1,1,0,0,0,0,0,0,2024-2025
2062,2025-02-22,1,1,1,1,0,0,0,0,0,0,2024-2025
2063,2025-02-23,1,0,1,1,0,0,0,0,0,0,2024-2025

In [84]:


# Ensure 'date' column is datetime type
df['date'] = pd.to_datetime(df['date'])

# Filter for year 2025
df_2025 = df[df['date'].dt.year == 2025].copy() # Use .copy() to avoid SettingWithCopyWarning

# Select the French zone columns
zones = ['all', 'bel', 'esp', 'fr_corse', 'fr_zone_a', 'fr_zone_b',
       'fr_zone_c', 'ita', 'lux', 'sui']
# Ensure only existing columns are selected to avoid errors if a zone column is missing
existing_zones = [zone for zone in zones if zone in df_2025.columns]
df_zones_2025 = df_2025[existing_zones]

# Calculate the sum for each zone (this counts the number of days marked as 1, presumably holidays)
holiday_counts_2025 = df_zones_2025.sum()

# Display the resulting Series (index: zone name, values: count of holidays in 2025)
holiday_counts_2025

all           60
bel           18
esp           11
fr_corse      40
fr_zone_a    127
fr_zone_b    128
fr_zone_c    127
ita           13
lux           22
sui           11
dtype: int64

### 5. Clean up (optional)

In [85]:
from sqlalchemy import text

# drop staging table if desired
with engine.begin() as conn:
    conn.execute(text('DROP TABLE IF EXISTS staging_vacances'))
    print('Staging table dropped.')

Staging table dropped.